pkgbase = beebo-entertainment-bin
	pkgdesc = Home media server and player for your own movies, TV, music and photos (proprietary, prebuilt)
	pkgver = 0.1.57
	pkgrel = 1
	url = https://beeboentertainment.com
	arch = x86_64
	license = LicenseRef-Beebo
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libsecret
	depends = util-linux-libs
	optdepends = intel-media-driver: hardware video transcoding on Intel GPUs (VA-API)
	optdepends = libva-mesa-driver: hardware video transcoding on AMD GPUs (VA-API)
	optdepends = libappindicator-gtk3: tray icon on some desktops
	provides = beebo-entertainment
	conflicts = beebo-entertainment
	options = !strip
	options = !debug
	source_x86_64 = beebo-entertainment-0.1.57-amd64.deb::https://github.com/SWGfan/beebotv/releases/download/Beebo-0.1.57/beebo-entertainment_0.1.57_amd64.deb
	sha256sums_x86_64 = REPLACE_WITH_SHA256_OF_THE_DEB

pkgname = beebo-entertainment-bin
